### Must check that there are data for all sector

### Input file: name-ttl.csv
### Output files: Price.csv, Price-Today.csv

In [3]:
import glob
import os
import pandas as pd
from datetime import date, timedelta, datetime
from pandas.tseries.offsets import *
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

##pd.reset_option('display.max_rows')
pd.options.display.float_format = '{:.2f}'.format
pd.options.display.max_rows = 120

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-12-30 2025-12-29

In [4]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
yesterday = yesterday.date()
print(f'yesterday: {yesterday}')

today: 2025-12-30
yesterday: 2025-12-29

In [5]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-12-30 20:26:04

### Restart & Run All Cells

In [7]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dts_path = os.path.join(user_path, "Downloads", "Datasets")
#print(f"Datasets path: {dts_path}")
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [8]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Datasets path : {dts_path}") 
print(f"Data path : {dat_path}") 
print(f"Google Drive path : {god_path}")
print(f"iCloudDrive path : {icd_path}") 
print(f"Obsidian path : {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Datasets path : C:\Users\PC1\Downloads\Datasets
Data path : C:\Users\PC1\OneDrive\A5\Data
Google Drive path : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path : C:\Users\PC1\iCloudDrive\Data
Obsidian path : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [9]:
colu = 'Symbol Last Change %Change Open High Low'.split()
vol = 'Total Volume'
colu.append(vol)
val = 'Total Value (k)'
colu.append(val)
colu

['Symbol',
 'Last',
 'Change',
 '%Change',
 'Open',
 'High',
 'Low',
 'Total Volume',
 'Total Value (k)']

In [10]:
format_dict = {'Bid Size':'{:,}','Offer Size':'{:,}',
              'Last':'{:,.2f}','Open':'{:,.2f}','High':'{:,.2f}','Low':'{:,.2f}','Bid':'{:,.2f}','Offer':'{:,.2f}',
              'Total Volume':'{:,}','Total-Volume':'{:,}','Total Value (k)':'{:,.3f}','Total-Value-(k)':'{:,.3f}',
              'TR Volume':'{:,}','TR Value (k)':'{:,.3f}',               
              'Change':'{:,.2f}','%Change':'{:.2f}%'}

### If use style.format(format_dict), number of maximum rows will be ineffective

In [12]:
### SET100 b
file_name = "StockQuotation.xlsx"
input_file = os.path.join(dts_path, file_name)
df_S100 = pd.read_excel(input_file, header=8)
df_S100 = df_S100[df_S100['Total Volume'] != '-']
#df_S100[colu].sort_values(['%Change'],ascending=[False])
df_S100[colu].head()

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
0,AAV,1.12,-,-,1.12,1.12,1.09,53979622,59716.12
1,ADVANC,313.00,1,0.32,312.00,314.00,312.00,2728764,854097.37
2,AEONTS,107.50,4,3.86,103.50,107.50,103.50,495064,52510.10
3,AMATA,16.60,0.30,1.84,16.40,16.70,16.30,9877198,163666.04
4,AOT,53.00,-0.50,-0.93,53.00,53.50,53.00,15003078,797698.21

In [13]:
df_S100.query('Symbol == ("BCH","IVL","JMART","JMT","PTTGC","RCL","SCC","STA")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
12,BCH,-,10.40,-,-,10.40,10.60,10.20,-,0.00,14084283,146171.15,347500,10.30,10.40,190500
47,IVL,-,16.10,-0.10,-0.62,16.10,16.20,15.90,-,0.00,12557711,201541.14,90700,16.10,16.20,358600
49,JMART,-,6.90,0.15,2.22,6.75,7.00,6.75,-,0.00,2879033,19803.60,43000,6.90,6.95,106900
50,JMT,-,8.75,0.15,1.74,8.55,8.80,8.55,-,0.00,2589005,22456.58,72200,8.75,8.80,283200
71,PTTGC,-,21.00,0.20,0.96,20.70,21.00,20.30,850000,17685.00,21874764,453226.92,499600,20.90,21.00,535400
74,RCL,-,27.25,-,-,27.00,27.25,27.00,-,0.00,730078,19756.36,111700,27.00,27.25,286600
77,SCC,-,183.50,-6,-3.17,189.50,190.00,182.50,2411600,438261.20,7840024,1446727.10,31900,183.50,184.00,32500
84,STA,-,12.20,-0.10,-0.81,12.20,12.40,12.10,-,0.00,1527335,18666.43,4300,12.20,12.30,90600

In [14]:
### sSET 1
file_name = "StockQuotation (1).xlsx"
input_file = os.path.join(dts_path, file_name)
df_sSET = pd.read_excel(input_file, header=8)
df_sSET = df_sSET[df_sSET['Total Volume'] != '-']
df_sSET[colu].head()

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
0,A5,1.85,-,-,1.74,1.86,1.70,58000,105.45
1,AAI,4.12,0.06,1.48,4.08,4.12,4.06,841712,3438.37
2,ADVICE,5.85,-,-,5.85,6.00,5.85,1835733,10878.13
3,AH,12.60,0.20,1.61,12.50,12.70,12.50,18301,231.08
4,AIT,4.86,0.02,0.41,4.86,4.86,4.84,284039,1378.34

In [15]:
df_sSET.query('Symbol == ("AH","MCS","ORI","SINGER","SYNEX")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
3,AH,-,12.60,0.20,1.61,12.50,12.70,12.50,-,0,18301,231.08,41700,12.50,12.60,3700
47,MCS,-,8.35,0.10,1.21,8.25,8.35,8.25,-,0,112560,933.65,62800,8.25,8.35,19400
58,ORI,-,1.79,-0.04,-2.19,1.84,1.86,1.79,-,0,2280922,4140.90,149100,1.79,1.83,68900
87,SINGER,-,4.88,0.06,1.24,4.86,4.88,4.82,-,0,438800,2133.88,65300,4.86,4.88,37500
101,SYNEX,-,9.95,-0.15,-1.49,10.00,10.00,9.95,-,0,797239,7959.18,114700,9.95,10.00,261900

In [16]:
### SETCLMV 2
file_name = "StockQuotation (2).xlsx"
input_file = os.path.join(dts_path, file_name)
df_CLMV = pd.read_excel(input_file, header=8)
df_CLMV = df_CLMV[df_CLMV['Total Volume'] != '-']
df_CLMV[colu].head()

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
0,AAV,1.12,-,-,1.12,1.12,1.09,53979622,59716.12
1,AMATA,16.60,0.30,1.84,16.40,16.70,16.30,9877198,163666.04
2,BA,14.80,-0.10,-0.67,14.80,14.90,14.70,2796969,41376.75
3,BANPU,4.92,-0.04,-0.81,4.94,4.98,4.90,37527752,185005.67
4,BBL,169.50,1,0.59,168.50,171.00,168.00,7644373,1298403.24

In [17]:
df_CLMV.query('Symbol == ("BCH","IVL","PTTGC","RCL","SCC","TOA")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
5,BCH,-,10.40,-,-,10.40,10.60,10.20,-,0.00,14084283,146171.15,347500,10.30,10.40,190500
25,IVL,-,16.10,-0.10,-0.62,16.10,16.20,15.90,-,0.00,12557711,201541.14,90700,16.10,16.20,358600
39,PTTGC,-,21.00,0.20,0.96,20.70,21.00,20.30,850000,17685.00,21874764,453226.92,499600,20.90,21.00,535400
42,RCL,-,27.25,-,-,27.00,27.25,27.00,-,0.00,730078,19756.36,111700,27.00,27.25,286600
47,SCC,-,183.50,-6,-3.17,189.50,190.00,182.50,2411600,438261.20,7840024,1446727.10,31900,183.50,184.00,32500
54,TOA,-,13.60,0.40,3.03,13.30,13.80,13.20,-,0.00,2294809,31248.21,87600,13.50,13.60,123000

In [18]:
### SETHD 3
file_name = "StockQuotation (3).xlsx"
input_file = os.path.join(dts_path, file_name)
df_HD = pd.read_excel(input_file, header=8)
df_HD = df_HD[df_HD['Total Volume'] != '-']
df_HD[colu].head()

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
0,AP,8.60,-0.05,-0.58,8.60,8.75,8.55,6314690,54503.52
1,BAM,8.00,0.05,0.63,7.90,8.00,7.85,7303516,57759.82
2,BBL,169.50,1,0.59,168.50,171.00,168.00,7644373,1298403.24
3,COM7,19.60,-0.50,-2.49,20.00,20.20,19.50,20012122,394700.09
4,HMPRO,6.65,0.15,2.31,6.60,6.65,6.50,10288942,67877.79

In [19]:
df_HD.query('Symbol == ("JMT","RCL")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
6,JMT,-,8.75,0.15,1.74,8.55,8.80,8.55,-,0.00,2589005,22456.58,72200,8.75,8.80,283200
19,RCL,-,27.25,-,-,27.00,27.25,27.00,-,0.00,730078,19756.36,111700,27.00,27.25,286600

In [20]:
### SETESG 4
file_name = "StockQuotation (4).xlsx"
input_file = os.path.join(dts_path, file_name)
df_THSI = pd.read_excel(input_file, header=8)
df_THSI = df_THSI[df_THSI['Total Volume'] != '-']
df_THSI[colu].head()

,Symbol,Last,Change,%Change,Open,High,Low,Total Volume,Total Value (k)
0,ADVANC,313.00,1,0.32,312.00,314.00,312.00,2728764,854097.37
1,AMATA,16.60,0.30,1.84,16.40,16.70,16.30,9877198,163666.04
2,AOT,53.00,-0.50,-0.93,53.00,53.50,53.00,15003078,797698.21
3,AP,8.60,-0.05,-0.58,8.60,8.75,8.55,6314690,54503.52
4,AWC,2.12,-,-,2.12,2.16,2.10,27074641,57535.94

In [21]:
df_THSI.query('Symbol == ("AWC","BCH","IVL","JMART","JMT","NER","ORI","PTTGC","SCC","STA","SYNEX","TOA","TVO")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
4,AWC,-,2.12,-,-,2.12,2.16,2.10,-,0.00,27074641,57535.94,1606700,2.12,2.14,531200
9,BCH,-,10.40,-,-,10.40,10.60,10.20,-,0.00,14084283,146171.15,347500,10.30,10.40,190500
41,IVL,-,16.10,-0.10,-0.62,16.10,16.20,15.90,-,0.00,12557711,201541.14,90700,16.10,16.20,358600
42,JMART,-,6.90,0.15,2.22,6.75,7.00,6.75,-,0.00,2879033,19803.60,43000,6.90,6.95,106900
43,JMT,-,8.75,0.15,1.74,8.55,8.80,8.55,-,0.00,2589005,22456.58,72200,8.75,8.80,283200
57,NER,-,4.48,0.02,0.45,4.46,4.48,4.44,-,0.00,2287138,10200.13,16800,4.46,4.48,1587900
59,ORI,-,1.79,-0.04,-2.19,1.84,1.86,1.79,-,0.00,2280922,4140.90,149100,1.79,1.83,68900
68,PTTGC,-,21.00,0.20,0.96,20.70,21.00,20.30,850000,17685.00,21874764,453226.92,499600,20.90,21.00,535400
77,SCC,-,183.50,-6,-3.17,189.50,190.00,182.50,2411600,438261.20,7840024,1446727.10,31900,183.50,184.00,32500
86,STA,-,12.20,-0.10,-0.81,12.20,12.40,12.10,-,0.00,1527335,18666.43,4300,12.20,12.30,90600
89,SYNEX,-,9.95,-0.15,-1.49,10.00,10.00,9.95,-,0.00,797239,7959.18,114700,9.95,10.00,261900
97,TOA,-,13.60,0.40,3.03,13.30,13.80,13.20,-,0.00,2294809,31248.21,87600,13.50,13.60,123000
104,TVO,-,22.40,0.30,1.36,22.20,22.40,22.10,-,0.00,449374,9997.93,1000,22.30,22.40,97500

In [22]:
### SETWB 5
file_name = "StockQuotation (5).xlsx"
input_file = os.path.join(dts_path, file_name)
df_WB = pd.read_excel(input_file, header=8)
df_WB = df_WB[df_WB['Total Volume'] != '-']
df_WB[colu].head()

  Symbol  Last Change %Change  Open  High   Low  Total Volume  Total Value (k)
0    AAV  1.12      -       -  1.12  1.12  1.09      53979622         59716.12
1    AOT 53.00  -0.50   -0.93 53.00 53.50 53.00      15003078        797698.21
2   AURA 14.50  -0.10   -0.68 14.60 14.60 14.30        458441          6600.96
3     BA 14.80  -0.10   -0.67 14.80 14.90 14.70       2796969         41376.75
4    BCH 10.40      -       - 10.40 10.60 10.20      14084283        146171.15

In [23]:
df_WB.query('Symbol == ("BCH","CPF","STA","TVO")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
4,BCH,-,10.40,-,-,10.40,10.60,10.20,-,0.00,14084283,146171.15,347500,10.30,10.40,190500
16,CPF,-,21.80,0.10,0.46,21.50,21.90,21.50,-,0.00,12804927,278571.56,359000,21.70,21.80,79600
26,STA,-,12.20,-0.10,-0.81,12.20,12.40,12.10,-,0.00,1527335,18666.43,4300,12.20,12.30,90600
29,TVO,-,22.40,0.30,1.36,22.20,22.40,22.10,-,0.00,449374,9997.93,1000,22.30,22.40,97500

In [24]:
### PROP 6
file_name = "StockQuotation (6).xlsx"
input_file = os.path.join(dts_path, file_name)
df_PROP = pd.read_excel(input_file, header=9)
df_PROP = df_PROP[df_PROP['Total Volume'] != '-']
df_PROP[colu].head()

   Symbol  Last Change %Change  Open  High   Low Total Volume Total Value (k)
1      A5  1.85      -       -  1.74  1.86  1.70        58000          105.45
2     AKS  0.02      -       -  0.02  0.03  0.02      3357386           67.16
3   AMATA 16.60   0.30    1.84 16.40 16.70 16.30      9877198       163666.04
4  AMATAV  1.80      -       -  1.81  1.81  1.79        43050           77.52
5    ANAN  0.41      -       -  0.41  0.42  0.41       531201          217.85

In [25]:
df_PROP.query('Symbol == ("AWC","ORI","SENA")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
8,AWC,-,2.12,-,-,2.12,2.16,2.10,-,0,27074641,57535.94,1606700,2.12,2.14,531200
34,ORI,-,1.79,-0.04,-2.19,1.84,1.86,1.79,-,0,2280922,4140.90,149100,1.79,1.83,68900
53,SENA,-,1.69,0.01,0.60,1.68,1.69,1.68,-,0,106901,180.15,45000,1.68,1.69,15000

In [26]:
### PFREIT 7
file_name = "StockQuotation (7).xlsx"
input_file = os.path.join(dts_path, file_name)
df_PFREIT = pd.read_excel(input_file, header=9)
df_PFREIT = df_PFREIT[df_PFREIT['Total Volume'] != '-']
df_PFREIT[colu].head()

    Symbol  Last Change %Change  Open  High   Low Total Volume Total Value (k)
0    AIMCG  1.76  -0.04   -2.22  1.79  1.80  1.76       177050          316.11
1   AIMIRT 10.90      -       - 10.80 10.90 10.80       362648         3942.79
2     ALLY  4.36      -       -  4.36  4.38  4.36       227739          993.72
3   AMATAR  6.75      -       -  6.75  6.80  6.75        58200          393.94
4  AXTRART 13.20   0.10    0.76    13 13.20    13       608507         7982.24

In [27]:
df_PFREIT.query('Symbol == ("AIMIRT","CPNREIT","GVREIT","WHAIR","WHART")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
1,AIMIRT,-,10.90,-,-,10.80,10.90,10.80,-,0,362648,3942.79,98100,10.80,10.90,215800
9,CPNREIT,-,11.30,0.10,0.89,11.20,11.30,11.20,-,0,928383,10478.58,535900,11.20,11.30,698300
17,GVREIT,-,6.75,-,-,6.75,6.80,6.70,-,0,425402,2871.26,42700,6.70,6.75,49600
54,WHAIR,-,6.15,-,-,6.15,6.20,6.15,-,0,1164100,7159.77,558900,6.10,6.15,29600
55,WHART,-,10.70,0.10,0.94,10.60,10.70,10.60,-,0,600712,6407.71,145800,10.60,10.70,679200

In [28]:
### TRANS 8
file_name = "StockQuotation (8).xlsx"
input_file = os.path.join(dts_path, file_name)
df_TRANS = pd.read_excel(input_file, header=9)
df_TRANS = df_TRANS[df_TRANS['Total Volume'] != '-']
df_TRANS[colu].head()

   Symbol Last Change %Change Open  High  Low Total Volume Total Value (k)
0     AAV 1.12      -       - 1.12  1.12 1.09     53979622        59716.12
1     ANI 2.96   0.12    4.23 2.84  2.98 2.78       398400         1153.06
2     AOT   53  -0.50   -0.93   53 53.50   53     15003078       797698.21
3  ASIMAR 1.53   0.02    1.32 1.52  1.54 1.52        22459           34.42
4       B 0.04      -       - 0.04  0.05 0.04       888056           35.69

In [29]:
df_TRANS.query('Symbol == ("RCL","TFFIF")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
19,RCL,-,27.25,-,-,27,27.25,27,-,0,730078,19756.36,111700,27.00,27.25,286600
23,TFFIF,-,6.25,0.05,0.81,6.20,6.25,6.20,-,0,2637031,16368.28,309300,6.20,6.25,1490800

In [30]:
### ICT 9
file_name = "StockQuotation (9).xlsx"
input_file = os.path.join(dts_path, file_name)
df_ICT = pd.read_excel(input_file, header=9)
df_ICT = df_ICT[df_ICT['Total Volume'] != '-']
df_ICT[colu].head()

   Symbol Last Change %Change Open High  Low Total Volume Total Value (k)
0   3BBIF 6.30  -0.05   -0.79 6.35 6.35 6.30      2200547        13938.78
1  ADVANC  313      1    0.32  312  314  312      2728764       854097.37
2     AIT 4.86   0.02    0.41 4.86 4.86 4.84       284039         1378.34
3     ALT 1.07      -       - 1.07 1.11 1.06      1188105         1285.22
4     AMR 0.43      -       - 0.42 0.43 0.41        19800            8.36

In [31]:
df_ICT.query('Symbol == ("3BBIF","DIF","JMART","SYNEX")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
0,3BBIF,-,6.30,-0.05,-0.79,6.35,6.35,6.30,-,0,2200547,13938.78,3005000,6.30,6.35,2322500
7,DIF,-,9.45,0.05,0.53,9.40,9.45,9.35,-,0,4205421,39581.40,1326800,9.40,9.45,1873100
19,JMART,-,6.90,0.15,2.22,6.75,7,6.75,-,0,2879033,19803.60,43000,6.90,6.95,106900
33,SYNEX,-,9.95,-0.15,-1.49,10,10,9.95,-,0,797239,7959.18,114700,9.95,10,261900

## Add section ENERG for PTG

In [33]:
### ENERG 10
file_name = "StockQuotation (10).xlsx"
input_file = os.path.join(dts_path, file_name)
df_ENG = pd.read_excel(input_file, header=9)
df_ENG = df_ENG[df_ENG['Total Volume'] != '-']
df_ENG[colu].head()

  Symbol Last Change %Change Open High  Low Total Volume Total Value (k)
0    ACC 0.42  -0.02   -4.55 0.45 0.45 0.41      2666400         1139.43
1    ACE 1.31   0.01    0.77 1.30 1.31 1.29      1165817         1520.59
2     AE 0.10   0.01   11.11 0.09 0.10 0.09      2667100          240.25
3    AGE 1.24   0.02    1.64 1.23 1.24 1.23       339020          419.78
4     AI 3.02   0.02    0.67    3 3.04    3        31505           94.56

In [34]:
df_ENG.query('Symbol == ("PTG","PTT")')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
35,PTG,-,7.10,0.20,2.90,6.95,7.20,6.90,-,0,7547340,53569.86,226600,7.05,7.10,34500
36,PTT,-,32,0.50,1.59,31.50,32,31.50,170300,5533.05,41210512,1310328.77,11098800,31.75,32,24246300

### ------------ End of Individual Category

In [36]:
df = pd.concat([df_S100, df_sSET, df_CLMV, df_HD, df_THSI, df_WB, df_PROP, df_PFREIT, df_TRANS, df_ICT, df_ENG])
df.shape

(678, 16)

In [37]:
df.Symbol.nunique()

373

In [38]:
df.query('Symbol == "CPNREIT"')

,Symbol,Trading Sign,Last,Change,%Change,Open,High,Low,TR Volume,TR Value (k),Total Volume,Total Value (k),Bid Size,Bid,Offer,Offer Size
9,CPNREIT,-,11.30,0.10,0.89,11.20,11.30,11.20,-,0,928383,10478.58,535900,11.20,11.30,698300

In [39]:
### First equals to latest published pdf file
df = df.drop_duplicates(subset='Symbol', keep='first')
df.shape

(373, 16)

In [40]:
df.rename(columns={col: col.replace(" ", "-") for col in df.columns}, inplace=True)
df.columns

Index(['Symbol', 'Trading-Sign', 'Last', 'Change', '%Change', 'Open', 'High',
       'Low', 'TR-Volume', 'TR-Value-(k)', 'Total-Volume', 'Total-Value-(k)',
       'Bid-Size', 'Bid', 'Offer', 'Offer-Size'],
      dtype='object')

In [41]:
cols = 'Symbol Last Change %Change Open High Low Total-Volume Total-Value-(k)'.split()
#df[cols].sort_values('Symbol',ascending=True)
df[cols].shape

(373, 9)

In [42]:
# Clean Symbol column (remove <XD>)
df['Symbol'] = df['Symbol'].str.replace(r'\s*<.*?>', '', regex=True)

# Then proceed with numeric conversion as above
numeric_cols = df.columns.drop('Symbol')
df[numeric_cols] = (
    df[numeric_cols].replace('-', 0)
    .apply(pd.to_numeric, errors='coerce', downcast=None)  # Disable downcasting
)
df[cols].shape

C:\Users\PC1\AppData\Local\Temp\ipykernel_182200\3393296708.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[numeric_cols].replace('-', 0)

(373, 9)

In [43]:
# If run after actual work day
#today = today - timedelta(days=2)
#today

In [44]:
df.insert(1, 'Date', today)

In [45]:
colt = 'Symbol Date Last Change %Change Open High Low Total-Volume Total-Value-(k)'.split()
df[colt]

,Symbol,Date,Last,Change,%Change,Open,High,Low,Total-Volume,Total-Value-(k)
0,AAV,2025-12-30,1.12,0.00,0.00,1.12,1.12,1.09,53979622,59716.12
1,ADVANC,2025-12-30,313.00,1.00,0.32,312.00,314.00,312.00,2728764,854097.37
2,AEONTS,2025-12-30,107.50,4.00,3.86,103.50,107.50,103.50,495064,52510.10
3,AMATA,2025-12-30,16.60,0.30,1.84,16.40,16.70,16.30,9877198,163666.04
4,AOT,2025-12-30,53.00,-0.50,-0.93,53.00,53.50,53.00,15003078,797698.21
...,...,...,...,...,...,...,...,...,...,...
53,TGE,2025-12-30,1.38,-0.01,-0.72,1.40,1.40,1.35,18901,26.12
55,TPIPP,2025-12-30,1.81,0.01,0.56,1.80,1.82,1.79,1403421,2540.99
56,TSE,2025-12-30,0.47,0.01,2.17,0.46,0.47,0.45,312530,143.57
58,UBE,2025-12-30,0.44,0.01,2.33,0.43,0.44,0.43,643400,278.44
60,WP,2025-12-30,3.78,0.00,0.00,3.78,3.78,3.78,99800,377.24

In [46]:
file_name = "name-ttl.csv"
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\name-ttl.csv

In [47]:
df_name = pd.read_csv(input_file, header=None, names=['Symbol'])
df_name.shape

(215, 1)

In [48]:
df_out = df[colt]
df_out.shape

(373, 10)

In [49]:
df_merge = pd.merge(df_name, df_out, on = 'Symbol', how='inner')
df_merge.shape

(168, 10)

In [50]:
df_merge.columns = df_merge.columns.str.lower()
df_merge.columns

Index(['symbol', 'date', 'last', 'change', '%change', 'open', 'high', 'low',
       'total-volume', 'total-value-(k)'],
      dtype='object')

In [51]:
df_merge.rename(columns={'symbol':'name','last':'price','total-volume':'volume',
                         'total-value-(k)':'value(m)'},inplace=True)
df_merge.columns

Index(['name', 'date', 'price', 'change', '%change', 'open', 'high', 'low',
       'volume', 'value(m)'],
      dtype='object')

In [52]:
colp = 'name date price high low volume open'.split()

file_name = "Price.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [53]:
print(f"output_file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

output_file : C:\Users\PC1\OneDrive\A5\Data\Price.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\Price.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\Price.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\Price.csv

In [54]:
df_merge[colp].to_csv(output_file, header=True, index=False)
df_merge[colp].to_csv(god_file, header=True, index=False)
df_merge[colp].to_csv(icd_file, header=True, index=False)
df_merge[colp].to_csv(osd_file, header=True, index=False)

### End of daily process to export Price to MySql Stock database

In [56]:
file_name = "Price-Today.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [57]:
print(f"output_file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

output_file : C:\Users\PC1\OneDrive\A5\Data\Price-Today.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\Price-Today.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\Price-Today.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\Price-Today.csv

In [58]:
df_merge.to_csv(output_file, header=True, index=False)
df_merge.to_csv(god_file, header=True, index=False)
df_merge.to_csv(icd_file, header=True, index=False)
df_merge.to_csv(osd_file, header=True, index=False)

In [59]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-12-30 20:26:04

### End of daily process to export Price-Today for Market-all, Create Dailies & Daily out processes