### Start and Run All

In [2]:
import os
import pandas as pd
from urllib import request
from bs4 import BeautifulSoup
# from datetime import date, timedelta
from datetime import datetime
from time import sleep, strftime

# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-12-30 20:29:51

In [3]:
url = "https://www.set.or.th/en/market/product/stock/quote/"
percent_span = ''

In [4]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [5]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path : {dat_path}") 
print(f"Google Drive path : {god_path}")
print(f"iCloudDrive path : {icd_path}") 
print(f"Obsidian path : {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path : C:\Users\PC1\OneDrive\A5\Data
Google Drive path : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path : C:\Users\PC1\iCloudDrive\Data
Obsidian path : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [6]:
file_name = "name-ttl.csv"
input_file = os.path.join(dat_path, file_name)
print(f"Input file : {input_file}")

Input file : C:\Users\PC1\OneDrive\A5\Data\name-ttl.csv

In [7]:
file_name = "price-hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [8]:
print(f"Output file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

Output file : C:\Users\PC1\OneDrive\A5\Data\price-hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\price-hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\price-hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\price-hilo.csv

In [9]:
def cvt_str_to_flt(input_str):
    # Check for the special pattern and return 0
    if input_str == '(-)':
        return 0
    
    # Remove parentheses and percent sign
    cleaned_str = input_str.replace('(', '').replace(')', '').replace('%', '')

    # Convert to float
    try:
        return float(cleaned_str)
    except ValueError:
        # Handle the case where the conversion fails
        return None

In [10]:
def get_stock_data(in_df):

    in_df.columns = ['name']
    
    output_columns = ['name', 'price', 'today_low', 'today_high', 'year_low', 'year_high', 'percent', 'updated_at']
    # Initialize an empty DataFrame with specified columns
    out_df = pd.DataFrame(columns=output_columns)
    
    for index, row in in_df.iterrows():
        name = str(row['name']).upper()
        response = request.urlopen(url + name + '/price')
        html_page = BeautifulSoup(response, 'html.parser')
        
  #      price = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info').text.strip()        
  #      if (price == '-'):
  #          price = '0.00'        

        price_div = html_page.find('div', class_='value text-white mb-0 me-2 lh-1 stock-info')
        if price_div:
            price = price_div.text.strip()
        else:
            print(f"Price div not found for {name}")
            price = '0.00'     
            
        # Try to find the <h3> tag with the class 'theme-success'
        h3_tag = html_page.find('h3', class_='theme-success')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-danger')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)    
                
        # Try to find the <h3> tag with the class 'theme-danger'
        h3_tag = html_page.find('h3', class_='theme-normal')
        if h3_tag:
        # Find all <span> tags within the found <h3> tag
            span_tags = h3_tag.find_all('span')
    
            if len(span_tags) > 1:
                # Extract the text from the second <span> tag
                percent_span = span_tags[1].text
                # print(percent_span)   
                
        percent = cvt_str_to_flt(percent_span)
                
        values_low = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder me-auto lh-1')
        today_low = values_low[0].text
        if (today_low == '-'):
            today_low = '0.00'
        
        values_high = html_page.find_all('span', class_='title-font-family fs-16px fw-bolder lh-1')
        today_high = values_high[0].text
        if (today_high == '-'):
            today_high = '0.00'         
        
        year_low = values_low[1].text        
        year_high = values_high[1].text     
        
        # Find the div with the specific class, then find the span within it
        div = html_page.find('div', class_='price-detail-date d-flex align-items-center text-nowrap fs-12px')
        if div:
            span = div.find('span')
            if span:
                text = span.get_text()
#                 print(text)
            else:
                print("Span not found")
        else:
            print("Div not found")
            
        # Extract the date part from the string
        # Assuming the date is always in the format 'dd Mon yyyy'
        date_str = ' '.join(text.split()[2:5])

        # Parse the date string into a datetime object
        date_obj = datetime.strptime(date_str, '%d %b %Y')

        # Format the datetime object to 'yyyy-mm-dd'
        updated_at = date_obj.strftime('%Y-%m-%d')

#         print(updated_at)
        
        # Append row to the DataFrame and print the row
        out_df.loc[len(out_df)] = [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
#       print(out_df.iloc[-1].to_string(header=False, index=False)) 
        print(','.join(map(str, out_df.iloc[-1])))
        sleep(2)
        
    return out_df  # return the final dataframe with all values populated

In [11]:
start_time = strftime("%I:%M %p")
print('Start at: ', start_time)

Start at:  08:29 PM

In [12]:
df = pd.read_csv(input_file, header=None)
out_df = get_stock_data(df)

ACE,1.31,1.29,1.31,1.23,1.38,0.77,2025-12-30
ADVANC,313.00,312.00,314.00,259.00,320.00,0.32,2025-12-30
AEONTS,107.50,103.50,107.50,90.50,128.50,3.86,2025-12-30
AH,12.60,12.50,12.70,10.00,16.40,1.61,2025-12-30
AIE,1.03,1.02,1.04,0.72,1.80,0.0,2025-12-30
AIMIRT,10.90,10.80,10.90,9.20,10.90,0.0,2025-12-30
AIT,4.86,4.84,4.86,3.92,5.30,0.41,2025-12-30
AJ,1.88,1.85,1.98,1.54,4.06,-0.53,2025-12-30
AMATA,16.60,16.30,16.70,11.20,29.25,1.84,2025-12-30
ANAN,0.41,0.41,0.42,0.37,0.79,0.0,2025-12-30
AOT,53.00,53.00,53.50,26.75,60.75,-0.93,2025-12-30
AP,8.60,8.55,8.75,5.60,9.25,-0.58,2025-12-30
ASIAN,7.20,7.15,7.20,6.50,8.35,-0.69,2025-12-30
ASK,7.30,7.15,7.30,6.20,10.30,1.39,2025-12-30
ASP,2.02,1.98,2.02,1.81,2.80,1.51,2025-12-30
ASW,6.00,5.95,6.00,4.90,7.95,0.0,2025-12-30
AWC,2.12,2.10,2.16,1.55,3.58,0.0,2025-12-30
BA,14.80,14.70,14.90,10.60,22.90,-0.67,2025-12-30
BAM,8.00,7.85,8.00,5.35,8.60,0.63,2025-12-30
BANPU,4.92,4.90,4.98,4.00,6.10,-0.81,2025-12-30
BAY,26.00,25.25,26.00,20.70,25.50,1.96,2025-12-30
BBL,169.50,168.00,171.00,131.00,169.50,0.59,2025-12-30
BCH,10.40,10.20,10.60,9.75,16.50,0.0,2025-12-30
BCP,26.00,25.00,26.75,24.20,41.00,0.0,2025-12-30
BCPG,6.75,6.60,6.75,5.25,9.60,1.5,2025-12-30
BCT,51.50,48.25,56.50,43.50,70.00,-5.5,2025-12-30
BDMS,19.30,19.20,19.60,18.30,24.90,-0.52,2025-12-30
BE8,4.66,4.64,4.72,4.10,15.40,-1.27,2025-12-30
BEAUTY,0.50,0.49,0.50,0.19,0.68,2.04,2025-12-30
BEC,1.89,1.87,1.90,1.79,4.26,1.07,2025-12-30
BEM,5.35,5.20,5.35,4.56,7.20,1.9,2025-12-30
BGC,3.90,3.90,3.94,3.30,7.85,0.0,2025-12-30
BGRIM,14.10,14.00,14.20,8.90,19.50,-0.7,2025-12-30
BH,157.50,157.50,159.50,130.00,205.00,-0.63,2025-12-30
BJC,14.40,14.20,14.50,14.10,24.60,0.7,2025-12-30
BKIH,301.00,299.00,301.00,271.00,310.00,0.33,2025-12-30
BLA,20.10,19.60,20.10,14.00,22.50,1.52,2025-12-30
BLAND,0.43,0.42,0.44,0.38,0.58,0.0,2025-12-30
BPP,12.60,11.00,12.60,6.20,13.00,11.5,2025-12-30
BTS,2.28,2.24,2.30,2.24,6.40,1.79,2025-12-30
BTSGIF,2.56,2.54,2.56,2.46,3.04,0.0,2025-12-30
CBG,43.50,43.00,43.75,40.00,81.00,1.16,2025-12-30
CENTEL,34.25,32.00,34.25,19.40,35.50,4.58,2025-12-30
CHG,1.50,1.47,1.50,1.39,2.48,2.04,2025-12-30
CK,11.90,11.80,12.00,10.20,19.20,0.0,2025-12-30
CKP,2.42,2.34,2.48,2.10,3.22,-1.63,2025-12-30
COM7,19.60,19.50,20.20,16.70,28.00,-2.49,2025-12-30
CPALL,43.50,42.75,43.75,41.50,57.50,-0.57,2025-12-30
CPF,21.80,21.50,21.90,19.80,26.50,0.46,2025-12-30
CPN,55.25,54.25,55.50,41.00,58.50,1.84,2025-12-30
CPNCG,6.35,6.30,6.35,5.75,6.45,0.0,2025-12-30
CPNREIT,11.30,11.20,11.30,10.20,12.60,0.89,2025-12-30
CRC,18.00,17.90,18.10,15.80,36.00,-0.55,2025-12-30
DCC,1.21,1.19,1.21,1.17,1.78,0.83,2025-12-30
DCON,0.23,0.23,0.24,0.23,0.30,0.0,2025-12-30
DELTA,173.00,169.50,173.00,51.25,232.00,1.17,2025-12-30
DIF,9.45,9.35,9.45,7.35,9.50,0.53,2025-12-30
DOHOME,3.42,3.42,3.46,2.26,9.02,0.0,2025-12-30
DRT,5.05,5.00,5.10,4.42,7.60,0.0,2025-12-30
EA,2.70,2.70,2.74,1.73,4.12,-0.74,2025-12-30
EASTW,1.98,1.94,2.02,1.57,3.30,-0.5,2025-12-30
EGATIF,6.10,6.10,6.15,5.75,6.20,-0.81,2025-12-30
EGCO,114.00,111.50,114.50,85.00,143.00,1.33,2025-12-30
EPG,2.84,2.82,2.88,2.12,3.98,2.16,2025-12-30
FORTH,5.75,5.70,5.85,5.50,11.00,0.0,2025-12-30
FPT,6.00,5.95,6.00,5.85,12.10,0.84,2025-12-30
FSMART,6.50,6.40,6.55,5.35,9.85,0.78,2025-12-30
FTREIT,11.80,11.60,11.80,8.60,11.70,1.72,2025-12-30
GC,4.00,3.96,4.00,3.40,5.10,0.0,2025-12-30
GFPT,10.60,10.10,10.70,8.00,11.00,4.95,2025-12-30
GGC,3.38,3.30,3.46,3.20,5.45,2.42,2025-12-30
GLOBAL,6.35,6.20,6.40,4.16,13.67,0.79,2025-12-30
GPSC,36.00,35.75,36.25,22.40,43.00,0.0,2025-12-30
GRAMMY,4.32,4.32,4.32,4.10,8.45,0.0,2025-12-30
GUNKUL,1.90,1.88,1.92,1.31,2.28,0.0,2025-12-30
GVREIT,6.75,6.70,6.80,6.15,6.95,0.0,2025-12-30
HANA,16.30,16.10,16.40,14.00,26.75,0.0,2025-12-30
HFT,4.18,4.12,4.18,3.32,4.48,-0.95,2025-12-30
HMPRO,6.65,6.50,6.65,5.70,9.80,2.31,2025-12-30
HTC,14.90,14.90,15.00,14.50,17.10,0.0,2025-12-30
ICHI,13.40,13.10,13.40,9.40,14.80,2.29,2025-12-30
III,4.06,3.94,4.06,3.94,5.70,3.05,2025-12-30
ILM,13.60,13.40,13.60,11.50,16.30,0.0,2025-12-30
IMH,3.06,3.00,3.06,3.00,4.80,0.0,2025-12-30
IMPACT,10.40,10.40,10.60,9.25,11.10,-1.89,2025-12-30
INOX,0.37,0.36,0.38,0.34,0.52,2.78,2025-12-30
IP,4.60,4.58,4.64,2.02,4.70,0.0,2025-12-30
IRPC,0.99,0.98,1.00,0.70,1.34,1.02,2025-12-30
IVL,16.10,15.90,16.20,14.60,25.50,-0.62,2025-12-30
3BBIF,6.30,6.30,6.35,5.00,6.85,-0.79,2025-12-30
JMART,6.90,6.75,7.00,5.20,13.40,2.22,2025-12-30
JMT,8.75,8.55,8.80,7.35,18.70,1.74,2025-12-30
KBANK,194.50,193.00,195.50,145.00,197.00,0.52,2025-12-30
KCE,18.20,18.10,18.70,13.70,28.25,-2.67,2025-12-30
KGI,3.98,3.94,3.98,3.40,4.40,0.51,2025-12-30
KKP,68.00,67.00,68.25,43.50,67.75,1.49,2025-12-30
KSL,1.26,1.25,1.27,1.25,1.90,0.0,2025-12-30
KTB,28.25,28.00,28.50,19.70,29.50,0.89,2025-12-30
KTC,26.25,26.25,26.75,21.80,52.25,-0.94,2025-12-30
KYE,283.00,283.00,283.00,272.00,324.00,0.35,2025-12-30
LALIN,4.82,4.80,4.84,4.76,6.10,0.42,2025-12-30
LANNA,15.20,15.00,15.20,14.10,17.10,0.66,2025-12-30
LH,3.78,3.74,3.82,3.18,5.10,0.0,2025-12-30
LHFG,0.90,0.88,0.91,0.72,0.92,0.0,2025-12-30
LHK,3.36,3.34,3.38,3.02,3.70,-0.59,2025-12-30
LIT,0.67,0.65,0.67,0.39,1.01,3.08,2025-12-30
LPH,3.72,3.66,3.72,3.20,4.44,1.09,2025-12-30
LPN,1.52,1.50,1.55,1.46,2.58,0.66,2025-12-30
M,18.20,18.00,18.30,13.80,35.25,-0.55,2025-12-30
MAJOR,7.10,6.95,7.10,6.25,14.80,1.43,2025-12-30
MBAX,1.42,1.41,1.42,1.17,1.98,-0.7,2025-12-30
MC,11.30,11.20,11.30,9.15,11.40,0.0,2025-12-30
MCS,8.35,8.25,8.35,5.80,9.20,1.21,2025-12-30
MEGA,33.50,32.50,33.75,24.30,35.50,3.88,2025-12-30
MINT,24.30,24.20,24.60,19.60,29.50,-0.41,2025-12-30
MST,6.70,6.70,6.75,5.50,9.55,0.0,2025-12-30
MTC,31.50,31.00,32.00,31.25,49.75,-0.79,2025-12-30
NER,4.48,4.44,4.48,3.88,5.10,0.45,2025-12-30
NOBLE,2.16,2.14,2.18,1.60,2.78,0.93,2025-12-30
ONEE,2.14,2.10,2.14,1.94,4.48,0.94,2025-12-30
OR,13.30,13.00,13.30,10.10,15.10,2.31,2025-12-30
ORI,1.79,1.79,1.86,1.50,3.78,-2.19,2025-12-30
OSP,16.10,15.70,16.20,12.90,21.60,1.9,2025-12-30
PAP,2.08,2.06,2.08,1.31,2.18,0.0,2025-12-30
PCSGH,3.10,3.08,3.10,2.46,4.34,0.65,2025-12-30
PDG,2.94,2.92,2.94,2.36,3.00,0.0,2025-12-30
PLANB,3.90,3.60,3.98,3.94,7.55,-2.01,2025-12-30
POPF,6.80,6.70,6.80,5.40,6.75,0.74,2025-12-30
PREB,3.52,3.48,3.52,3.34,4.38,1.15,2025-12-30
PRM,6.90,6.70,6.95,5.10,8.75,2.99,2025-12-30
PSH,3.58,3.52,3.76,3.50,8.05,2.29,2025-12-30
PSL,6.05,6.00,6.05,4.96,7.50,1.68,2025-12-30
PTG,7.10,6.90,7.20,5.45,9.50,2.9,2025-12-30
PTL,8.40,8.30,8.45,7.85,14.50,1.2,2025-12-30
PTT,32.00,31.50,32.00,27.00,33.75,1.59,2025-12-30
PTTEP,113.00,111.50,113.50,93.00,130.50,1.35,2025-12-30
PTTGC,21.00,20.30,21.00,14.20,28.75,0.96,2025-12-30
QH,1.33,1.32,1.35,1.15,1.75,0.0,2025-12-30
RATCH,29.50,29.00,29.50,22.50,30.25,-0.84,2025-12-30
RBF,3.04,3.04,3.10,2.90,7.40,-0.65,2025-12-30
RCL,27.25,27.00,27.25,18.20,31.75,0.0,2025-12-30
RJH,12.40,12.10,12.40,11.10,21.40,2.48,2025-12-30
ROJNA,4.40,4.38,4.42,4.14,6.30,0.0,2025-12-30
RS,0.20,0.18,0.20,0.15,5.55,5.26,2025-12-30
S11,3.30,3.28,3.34,1.86,3.70,0.61,2025-12-30
SAPPE,30.75,30.75,31.25,27.50,69.50,-1.6,2025-12-30
SAT,14.70,14.60,14.80,9.95,14.70,0.0,2025-12-30
SAWAD,25.50,24.90,26.00,14.80,38.18,-0.97,2025-12-30
SC,1.69,1.68,1.73,1.40,2.78,-1.74,2025-12-30
SCB,139.00,137.50,140.00,111.00,138.50,1.09,2025-12-30
SCC,183.50,182.50,190.00,124.50,231.00,-3.17,2025-12-30
SCCC,142.50,142.50,143.50,138.50,166.50,0.35,2025-12-30
SCGP,17.10,16.90,17.30,10.70,20.00,-0.58,2025-12-30
SENA,1.69,1.68,1.69,1.54,2.24,0.6,2025-12-30
SGP,7.85,7.75,7.90,5.00,7.85,0.64,2025-12-30
SINGER,4.88,4.82,4.88,3.92,8.50,1.24,2025-12-30
SIRI,1.34,1.33,1.36,1.11,1.82,0.0,2025-12-30
SIS,20.40,20.10,20.60,17.60,29.00,-0.97,2025-12-30
SJWD,7.40,7.05,7.50,5.75,10.80,4.96,2025-12-30
SKN,6.45,6.25,6.45,5.10,6.60,3.2,2025-12-30
SKR,7.05,6.75,7.05,6.20,9.70,4.44,2025-12-30
SMPC,8.80,8.75,8.85,7.80,9.45,0.57,2025-12-30
SNC,5.95,5.95,6.00,5.05,7.35,-1.65,2025-12-30
SPALI,17.00,16.90,17.20,13.20,18.70,-0.58,2025-12-30
SPC,57.50,57.25,57.50,53.00,60.75,0.44,2025-12-30
SPCG,9.30,9.30,9.40,6.60,10.20,-0.53,2025-12-30
SPRC,5.90,5.65,5.95,4.26,6.70,1.72,2025-12-30
SPRIME,3.48,3.48,3.54,3.00,4.24,0.0,2025-12-30
SSP,3.24,3.22,3.24,3.00,5.80,1.25,2025-12-30
STA,12.20,12.10,12.40,10.30,18.60,-0.81,2025-12-30
STANLY,189.00,188.00,189.00,176.00,225.00,0.0,2025-12-30
STGT,9.20,9.10,9.25,5.10,10.50,0.55,2025-12-30
SUPER,0.11,0.10,0.11,0.09,0.26,0.0,2025-12-30
SUPEREIF,5.25,5.20,5.25,4.72,6.45,0.0,2025-12-30
SVI,7.30,7.25,7.30,5.55,8.35,0.69,2025-12-30
SYNEX,9.95,9.95,10.00,9.30,15.50,-1.49,2025-12-30
TASCO,13.70,13.60,13.90,13.20,19.00,-1.44,2025-12-30
TCAP,58.25,57.75,58.75,44.25,59.00,1.3,2025-12-30
TFFIF,6.25,6.20,6.25,5.25,6.50,0.81,2025-12-30
TFG,4.46,4.24,4.62,3.02,6.10,-14.23,2025-12-30
THANI,1.74,1.74,1.75,1.15,1.89,0.0,2025-12-30
THG,8.55,8.50,8.65,6.15,14.14,0.0,2025-12-30
TIPH,20.70,20.20,20.80,16.70,23.30,1.97,2025-12-30
TIPCO,7.60,7.55,7.65,7.50,10.40,-0.65,2025-12-30
TISCO,110.50,110.00,111.00,95.00,111.00,0.45,2025-12-30
TK,4.38,4.34,4.38,3.28,4.90,0.46,2025-12-30
TKN,4.00,3.98,4.02,3.88,9.25,0.5,2025-12-30
TKS,6.45,6.45,6.60,4.90,6.65,-1.53,2025-12-30
TMT,2.78,2.76,2.84,2.60,3.54,-1.42,2025-12-30
TMW,56.00,55.50,56.25,47.00,62.75,0.45,2025-12-30
TOA,13.60,13.20,13.80,9.35,15.60,3.03,2025-12-30
TOP,36.00,35.25,36.25,21.00,37.75,2.13,2025-12-30
TPIPL,0.69,0.69,0.70,0.65,1.09,1.47,2025-12-30
TPIPP,1.81,1.79,1.82,1.66,3.00,0.56,2025-12-30
TQM,11.50,11.40,11.90,10.60,25.50,-2.54,2025-12-30
TRUE,10.90,10.80,11.20,10.10,13.30,0.93,2025-12-30
TSE,0.47,0.45,0.47,0.29,0.91,2.17,2025-12-30
TSTH,0.64,0.63,0.65,0.47,0.93,0.0,2025-12-30
TTA,4.24,4.18,4.24,3.22,5.35,1.44,2025-12-30
TTB,2.02,2.02,2.06,1.74,2.08,-0.98,2025-12-30
TTLPF,9.95,9.90,10.00,9.85,14.40,0.0,2025-12-30
TTW,9.05,9.00,9.10,8.45,9.25,0.0,2025-12-30
TU,12.80,12.60,12.90,8.60,14.10,1.59,2025-12-30
TVO,22.40,22.10,22.40,19.70,26.00,1.36,2025-12-30
TYCN,1.67,1.67,1.71,1.54,1.97,-2.34,2025-12-30
UTP,7.50,7.45,7.50,7.20,8.50,0.0,2025-12-30
VGI,0.95,0.90,0.97,0.94,3.68,0.0,2025-12-30
VIBHA,1.40,1.37,1.40,1.32,1.99,0.72,2025-12-30
VNG,1.76,1.76,1.76,1.74,3.10,1.15,2025-12-30
WHA,3.28,3.26,3.30,2.26,5.55,0.61,2025-12-30
WHAIR,6.15,6.15,6.20,4.12,6.65,0.0,2025-12-30
WHART,10.70,10.60,10.70,8.55,10.60,0.94,2025-12-30
WHAUP,4.20,4.14,4.26,2.76,4.82,-0.94,2025-12-30
WICE,2.28,2.28,2.36,2.30,3.96,-3.39,2025-12-30
WORK,3.64,3.64,3.66,3.66,6.30,-0.55,2025-12-30

In [13]:
end_time = strftime("%I:%M %p")
print('End at: ', end_time)

End at:  08:38 PM

In [14]:
out_df.query('price == "-"')

Empty DataFrame
Columns: [name, price, today_low, today_high, year_low, year_high, percent, updated_at]
Index: []

In [15]:
out_df.shape

(215, 8)

In [16]:
out_df = out_df[out_df['name'] != 'BCT']

In [17]:
out_df = out_df[out_df['name'] != 'LPF']

In [18]:
out_df = out_df[out_df['name'] != 'TYCN']

In [19]:
out_df = out_df[out_df['name'] != 'GRAMMY']

In [20]:
out_df = out_df[out_df['name'] != 'MST']

In [21]:
out_df = out_df[out_df['name'] != 'SPC']

In [22]:
out_df = out_df[out_df['name'] != 'SPRIME']

In [23]:
out_df = out_df[out_df['name'] != 'FPT']

In [24]:
out_df = out_df[out_df['name'] != 'GGC']

In [25]:
out_df = out_df[out_df['name'] != 'SKN']

In [26]:
out_df = out_df[out_df['name'] != 'KYE']

In [27]:
out_df = out_df[out_df['name'] != 'PDG']

In [28]:
out_df = out_df[out_df['name'] != 'PREB']

In [29]:
out_df = out_df[out_df['name'] != 'MBAX']

In [30]:
out_df = out_df[out_df['name'] != 'TYCN']

In [31]:
out_df.shape

(202, 8)

In [32]:
out_df['price'] = out_df['price'].astype('float')
out_df['today_low'] = out_df['today_low'].astype('float')
out_df['today_high'] = out_df['today_high'].astype('float')
out_df['year_low'] = out_df['year_low'].astype('float')
out_df['year_high'] = out_df['year_high'].astype('float')
out_df['percent'] = out_df['percent'].astype('float')

In [33]:
sorted_out_df = out_df.sort_values('percent')

In [34]:
sorted_out_df.query('today_low < year_low')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
213,WICE,2.28,2.28,2.36,2.30,3.96,-3.39,2025-12-30
126,PLANB,3.90,3.60,3.98,3.94,7.55,-2.01,2025-12-30
116,MTC,31.50,31.00,32.00,31.25,49.75,-0.79,2025-12-30
214,WORK,3.64,3.64,3.66,3.66,6.30,-0.55,2025-12-30
206,VGI,0.95,0.90,0.97,0.94,3.68,0.00,2025-12-30

In [35]:
sorted_out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
146,SAT,14.70,14.60,14.80,9.95,14.70,0.00,2025-12-30
21,BBL,169.50,168.00,171.00,131.00,169.50,0.59,2025-12-30
154,SGP,7.85,7.75,7.90,5.00,7.85,0.64,2025-12-30
127,POPF,6.80,6.70,6.80,5.40,6.75,0.74,2025-12-30
211,WHART,10.70,10.60,10.70,8.55,10.60,0.94,2025-12-30
149,SCB,139.00,137.50,140.00,111.00,138.50,1.09,2025-12-30
95,KKP,68.00,67.00,68.25,43.50,67.75,1.49,2025-12-30
67,FTREIT,11.80,11.60,11.80,8.60,11.70,1.72,2025-12-30
20,BAY,26.00,25.25,26.00,20.70,25.50,1.96,2025-12-30

In [36]:
out_df.query('today_high > year_high')

,name,price,today_low,today_high,year_low,year_high,percent,updated_at
20,BAY,26.00,25.25,26.00,20.70,25.50,1.96,2025-12-30
21,BBL,169.50,168.00,171.00,131.00,169.50,0.59,2025-12-30
67,FTREIT,11.80,11.60,11.80,8.60,11.70,1.72,2025-12-30
95,KKP,68.00,67.00,68.25,43.50,67.75,1.49,2025-12-30
127,POPF,6.80,6.70,6.80,5.40,6.75,0.74,2025-12-30
146,SAT,14.70,14.60,14.80,9.95,14.70,0.00,2025-12-30
149,SCB,139.00,137.50,140.00,111.00,138.50,1.09,2025-12-30
154,SGP,7.85,7.75,7.90,5.00,7.85,0.64,2025-12-30
211,WHART,10.70,10.60,10.70,8.55,10.60,0.94,2025-12-30

In [37]:
file_name = "Price-Hilo.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [38]:
print(f"output_file : {output_file}") 
print(f"icd_file : {icd_file}") 
print(f"god_file : {god_file}") 
print(f"osd_file : {osd_file}")

output_file : C:\Users\PC1\OneDrive\A5\Data\Price-Hilo.csv
icd_file : C:\Users\PC1\iCloudDrive\Data\Price-Hilo.csv
god_file : C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\Price-Hilo.csv
osd_file : C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\Price-Hilo.csv

In [39]:
out_df.to_csv(output_file, index=False)  
out_df.to_csv(god_file, index=False) 
out_df.to_csv(icd_file, index=False)  
out_df.to_csv(osd_file, index=False)

In [40]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-12-30 20:38:54