### Modify last statement then Run all - statement: 24

### Output files: buy-input
### Input files: prices-change

In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import date, timedelta, datetime
from pandas.tseries.offsets import * 
import calendar

pd.options.display.max_rows = 31
float_formatter = "à¸¿{:,.2f}"

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

today = date.today()
yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-12-30 2025-12-29

In [4]:
#today = date(2025, 3, 6)
#yesterday = today - timedelta(days=1)
print(today, yesterday)

2025-12-30 2025-12-29

In [5]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(2)
yesterday = today - num_business_days
print(f'today: {today}')
to_mmdd = today.strftime('%m-%d')
print(f'Today in mm-dd format: {to_mmdd}')
print(f'yesterday: {yesterday}')

today: 2025-12-30
Today in mm-dd format: 12-30
yesterday: 2025-12-26 00:00:00

In [6]:
# If run after actual work day
#today = date(2025,2,25)
print(today)

2025-12-30

In [7]:
#yesterday = yesterday.date()
#yesterday = date(2025,2,24)
print(yesterday)

2025-12-26 00:00:00

In [8]:
# Get the user's home directory
user_path = os.path.expanduser('~')
# Get the current working directory
current_path = os.getcwd()
# Derive the base directory (base_dir) by removing the last folder ('Daily')
base_path = os.path.dirname(current_path)
#C:\Users\PC1\OneDrive\A5\Data
dat_path = os.path.join(base_path, "Data")
#C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data>
god_path = os.path.join(user_path, "OneDrive","Imports","santisoontarinka@gmail.com - Google Drive","Data")
#C:\Users\PC1\iCloudDrive\data
icd_path = os.path.join(user_path, "iCloudDrive", "Data")
#C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data
osd_path = os.path.join(user_path, "OneDrive","Documents","obsidian-git-sync","Data")

In [9]:
print("User path:", user_path)
print(f"Current path: {current_path}")
print(f"Base path: {base_path}")
print(f"Data path (dat_path): {dat_path}") 
print(f"Google Drive path (god_path): {god_path}")
print(f"iCloudDrive path (icd_path): {icd_path}") 
print(f"Obsidian path (osd_path): {osd_path}")

User path: C:\Users\PC1
Current path: C:\Users\PC1\OneDrive\A5\Daily
Base path: C:\Users\PC1\OneDrive\A5
Data path (dat_path): C:\Users\PC1\OneDrive\A5\Data
Google Drive path (god_path): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data
iCloudDrive path (icd_path): C:\Users\PC1\iCloudDrive\Data
Obsidian path (osd_path): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data

In [10]:
format_dict = {
    'fm_price':'{:.2f}','to_price':'{:.2f}','diff':'{:.2f}',
    'max_price':'{:.2f}','min_price':'{:.2f}','price':'{:.2f}','price1':'{:.2f}','price2':'{:.2f}',
    'beta':'{:,.2f}','change':'{:.2f}',
    'pct':'{:,.2f}%','percent':'{:,.2f}%','%change':'{:,.2f}%',   
    'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
    'created_at':'{:%Y-%m-%d}','updated_at':'{:%Y-%m-%d}',
    
    'qty':'{:,}','available_qty':'{:,}','volume':'{:,.0f}','shares':'{:,.0f}',
    'cost':'{:.2f}','buy_target':'{:.2f}','sell_target':'{:.2f}','amount':'{:,.2f}'
}

In [11]:
sql = '''
SELECT period, name, volbuy AS shares
FROM buy
ORDER BY period, name'''
buy = pd.read_sql(sql, const)
buy['shares'] = buy['shares'].astype('int64')
buy.style.format(format_dict).hide(axis="index")

In [12]:
file_name = "buy-input.csv"
output_file = os.path.join(dat_path, file_name)
god_file = os.path.join(god_path, file_name)
icd_file = os.path.join(icd_path, file_name)
osd_file = os.path.join(osd_path, file_name)

In [13]:
print(f"Output file: {output_file}") 
print(f"icd_file (icd_file): {icd_file}") 
print(f"god_file (god_file): {god_file}") 
print(f"osd_file (osd_file): {osd_file}")

Output file: C:\Users\PC1\OneDrive\A5\Data\buy-input.csv
icd_file (icd_file): C:\Users\PC1\iCloudDrive\Data\buy-input.csv
god_file (god_file): C:\Users\PC1\OneDrive\Imports\santisoontarinka@gmail.com - Google Drive\Data\buy-input.csv
osd_file (osd_file): C:\Users\PC1\OneDrive\Documents\obsidian-git-sync\Data\buy-input.csv

In [14]:
buy.to_csv(output_file, index=False)
buy.to_csv(god_file, index=False)
buy.to_csv(icd_file, index=False)
buy.to_csv(osd_file, index=False)

### Call ruby ruby\find-change-fm-2-dates.rb

In [16]:
# Extract the last folder from the base directory
last_folder = os.path.basename(base_path)
print(f"Last Folder: {last_folder}")

Last Folder: A5

In [17]:
# Change to the derived directory (optional)
os.chdir(base_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5'

In [18]:
!ruby ruby\\find-change-fm-2-dates.rb '2024-12-30' '{today}' '{last_folder}'

    period       name     shares      date1      date2     price1     price2     change    %change     amount        spd
         1         AH       1200   24-12-30   25-12-30      16.30      12.60      -3.70     -22.70  -4,440.00        -37
         1        AWC       9000   24-12-30   25-12-30       3.52       2.12      -1.40     -39.77 -12,600.00        -70
         1      JMART       6800   24-12-30   25-12-30      13.20       6.90      -6.30     -47.73 -42,840.00        -93
         1        JMT       7000   24-12-30   25-12-30      18.20       8.75      -9.45     -51.92 -66,150.00       -107
         1        TOA       1000   24-12-30   25-12-30      15.00      13.60      -1.40      -9.33  -1,400.00        -14
         2     AIMIRT      17500   24-12-30   25-12-30      10.60      10.90       0.30       2.83   5,250.00          3
         2    CPNREIT      55000   24-12-30   25-12-30      12.30      11.30      -1.00      -8.13 -55,000.00        -10
         2        DIF      45000   24-12-30   25-12-30       8.60       9.45       0.85       9.88  38,250.00         17
         2     GVREIT      69000   24-12-30   25-12-30       6.50       6.75       0.25       3.85  17,250.00          5
         2        MCS      75000   24-12-30   25-12-30       6.70       8.35       1.65      24.63 123,750.00         33
         2        NER      27000   24-12-30   25-12-30       4.62       4.48      -0.14      -3.03  -3,780.00         -7
         2        PTT       7500   24-12-30   25-12-30      31.75      32.00       0.25       0.79   1,875.00          1
         2       SENA     105000   24-12-30   25-12-30       2.22       1.69      -0.53     -23.87 -55,650.00        -42
         2      TFFIF      20000   24-12-30   25-12-30       6.35       6.25      -0.10      -1.57  -2,000.00         -2
         2      WHAIR      50000   24-12-30   25-12-30       6.50       6.15      -0.35      -5.38 -17,500.00         -7
         2      WHART      20000   24-12-30   25-12-30      10.20      10.70       0.50       4.90  10,000.00          5
         3      3BBIF     120000   24-12-30   25-12-30       5.20       6.30       1.10      21.15 132,000.00         22
         3        BCH       4000   24-12-30   25-12-30      15.30      10.40      -4.90     -32.03 -19,600.00        -49
         3        PTG       3600   24-12-30   25-12-30       8.20       7.10      -1.10     -13.41  -3,960.00        -22
         3        RCL      27000   24-12-30   25-12-30      28.25      27.25      -1.00      -3.54 -27,000.00         -4
         3        STA      10000   24-12-30   25-12-30      18.10      12.20      -5.90     -32.60 -59,000.00        -59
         3      SYNEX      17500   24-12-30   25-12-30      15.40       9.95      -5.45     -35.39 -95,375.00        -55
         3        TVO       4000   24-12-30   25-12-30      23.00      22.40      -0.60      -2.61  -2,400.00         -6
         4        CPF      10000   24-12-30   25-12-30      22.80      21.80      -1.00      -4.39 -10,000.00        -10
         4        IVL       7200   24-12-30   25-12-30      24.90      16.10      -8.80     -35.34 -63,360.00        -88
         4        ORI      50000   24-12-30   25-12-30       3.62       1.79      -1.83     -50.55 -91,500.00       -101
         4      PTTGC       6000   24-12-30   25-12-30      24.40      21.00      -3.40     -13.93 -20,400.00        -34
         4        SCC        600   24-12-30   25-12-30     168.00     183.50      15.50       9.23   9,300.00         31
         4     SINGER       6000   24-12-30   25-12-30       7.90       4.88      -3.02     -38.23 -18,120.00        -64

In [19]:
os.chdir(current_path)
%pwd

'C:\\Users\\PC1\\OneDrive\\A5\\Daily'

In [20]:
file_name   = 'prices-change.csv'
input_file = os.path.join(dat_path, file_name)
print(f"Input file: {input_file}")

Input file: C:\Users\PC1\OneDrive\A5\Data\prices-change.csv

In [21]:
df = pd.read_csv(input_file, sep=',', index_col=None)
df.head().style.format(format_dict).hide(axis="index")

In [22]:
df.sort_values(['spd'],ascending=True).style.format(format_dict).hide(axis="index")

In [23]:
# Group by 'period' and sum only specific columns
result = df.groupby('period')[['shares', 'amount', 'spd']].sum()
print(result)

        shares    amount  spd
period
1        25000 -127430.0 -321
2       491000   62445.0   -4
3       186100  -75335.0 -173
4        79800 -194080.0 -266

In [24]:
df.groupby('period').agg(
      ttl_shr = pd.NamedAgg('shares', 'sum'),
      avr_p1  = pd.NamedAgg('price1','mean'),
      avr_p2  = pd.NamedAgg('price2','mean'),  
      avr_chg = pd.NamedAgg('change','mean'),
      avr_spd = pd.NamedAgg('spd','mean'),
      ttl_amt = pd.NamedAgg('amount', 'sum')
   )

        ttl_shr     avr_p1     avr_p2   avr_chg    avr_spd   ttl_amt
period
1         25000  13.244000   8.794000 -4.450000 -64.200000 -127430.0
2        491000   9.667273   9.820000  0.152727  -0.363636   62445.0
3        186100  16.207143  13.657143 -2.550000 -24.714286  -75335.0
4         79800  41.936667  41.511667 -0.425000 -44.333333 -194080.0

In [25]:
pl = df.amount.sum()
float_formatter.format(pl)

'à¸¿-334,400.00'

In [26]:
prev_pl = -334_400
diff = pl - prev_pl
float_formatter.format(diff)

'à¸¿14,835.00'

In [27]:
# Get the current time
current_time = datetime.now()
# Format the time to remove milliseconds
formatted_time = current_time.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_time)

2025-12-30 20:45:34